player-connection-mode=Connect
player-connection-guid=4159799209
player-connection-debug=0
player-connection-project-name=Arena
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.169
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d1945048042c45d8bc366c5140ae2b63
